body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  cursor: url(../img/imagen\ cursor.png), auto;
}

html {
  background-color: #171e35;
}

.parallax-container {
  position: relative;
  height: 350vh;
  perspective: 1px;
}

.parallax-layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
