/* Reset / b치sico */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background-color: #171e35;
  overflow-x: hidden;
  cursor: url(../assets/images/cursor\ image.png), auto;
}

.parallax-js-section {
  position: relative;
  height: 350vh;
  overflow: hidden;
}

/* capas y tama침o */
.parallax-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  display: flex;
  justify-content: top;
  align-items: top;
  will-change: transform;
}

/* im치genes: cubrir pantalla y responsive */
.parallax-image,
.moon-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: translate3d(0, 0, 0);
  will-change: transform;
}

/* Opcional: adaptaci칩n para pantallas muy estrechas */
@media (max-width: 600px) {
  .parallax-container {
    height: 300vh;
  }
}
